<ul>
  <li>
    <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
      <input type='submit' value="+"/>
    </form>
    <div class = "title">
    <%= idea.title %><br/>
  </div>
  <div class = "description">
    <%= idea.description %>
  </div>
    <a href="/<%= idea.id %>/edit">Edit</a>
    <form action='/<%= idea.id %>' method='POST'>
      <input type="hidden" name="_method" value="DELETE">
      <input type='submit' value="delete"/>
    </form>
    <br/>
  </li>
</ul>
